
.beegreen--item-details-stat-bar-container-grad {
    margin-top: 8px;
    margin-bottom: 8px;
}

.beegreen--item-details-stat-bar-container-grey {
    background-color: #e5e5e5; /* Grey background */
}

.beegreen--item-details-stat-bar {
    box-sizing: border-box;
    text-align: right; /* Right-align text */
    padding-top: 0px; /* Add top padding */
    padding-bottom: 0px; /* Add bottom padding */
    background: none;
    color: white; /* White text color */
    border-right: 7px solid #393939;
    white-space: nowrap;
    font-size: 12px;
}

.beegreen--item-details-stat-bar-1 {
    box-sizing: border-box;
    text-align: right; /* Right-align text */
    padding-top: 0px; /* Add top padding */
    padding-bottom: 0px; /* Add bottom padding */
    // background-color: #42be65; //#0f62fe
    color: white; /* White text color */
    white-space: nowrap;
    height: 8px;
}


.beegreen--item-details-stat-bar-green {
    background-color: #42be65;
}

.beegreen--item-details-stat-bar-red {
    background-color: #fa4d56;
}

.beegreen--item-details-stat-bar-yellow {
    background-color: #f1c21b;
}

.beegreen--item-details-stat-bar-1-label {
    margin-top: 4px;
    color: #808080;
    font-weight: 600;
}

.beegreen--item-details-notes {
    margin-top: 8px;
}

.beegreen--item-details-substitute {
    max-width: 50%;
    padding-right: 16px;
    min-width: 240px;
}

.beegreen--item-details-sub-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
}