@import 'carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/type/_styles.scss';
// @import '~carbon-components/scss/globals/scss/styles.scss';
// uncomment above to be able to use color variables


.DashboardWrapper {
    margin-top: 40px;
}

.DashboardContent {
    padding-left: 110px;
    padding-top: 20px;
}

.DashboardTile {
    background-color: white;
    width: 400px;
    height: 250px;
    margin: 20px;
    margin-right: 40px;
    padding: 16px;
    text-align: left;
}

.DashboardTilesWrapper {
    display: flex;
    justify-content: flex-start;
}

.DashboardTileHeader {
    font-weight: 600;
    color: #61b789;
    font-size: 32px;
    text-align: left;
    padding-bottom: 20px;
}

.DashboardVictoryImg{
    svg {
        // width: 800px !important;
        width: 800 !important;
        max-height: 500px;
    }
}

.DashboardTileVictory {
    background-color: white;
    width: 800px;
    height: 400px;
    margin: 20px;
    margin-left: 100px;
    margin-top: 30px;
    padding: 16px;
    text-align: left;
}

.DashboardBanner {    
  width: 100%;
  padding: 80px;
  background-color: #e6f1eb;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
}

.TileText {
    margin-top: 16px;
    color: #478d75;
    font-weight: 400;
    font-size: 19px;
}

.TileTextEmphasize {
    margin-top: 16px;
    color: #478d75;
    font-weight: 600;
    font-size: 22px;
}

.BannerHeader {    
    margin-top: -16px;
    color: #478d75;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 22px;
}

.BannerContent {    
    color: #478d75;
    font-weight: 800;
    font-size: 44px;
}