

.take2--item-dialog-content-wrapper {
    padding: 32px;
}

.take2--item-dialog-content-selected-item {
    display: inline-flex;
}

.take2--item-dialog-content-selected-item-img {
    width: 60px;
    height: 60px;
    margin-right: 16px;
}

.take2--item-dialog-content-selected-item-img-tag {
    max-width: 60px;
    max-height: 60px;
}
.take2--item-dialog-content-selected-item-container {
    height: 100%; //make 60px same as img to center vertically
    text-align: center;
    line-height: 100%; //make 60px same as img to center vertically
}

.take2--item-dialog-content-selected-item-text-wrapper {
    display: inline-block;
}

.take2--item-dialog-content-selected-item-text {
    word-wrap: break-word;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-top: 40px;
    text-align: left;
    display: -webkit-box;
    vertical-align: middle;
    line-height: normal;
    font-size: 1.025rem;
}

.take2--item-dialog-content-compare-header {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: var(--cds-productive-heading-04-font-size, 1.25rem);
    font-weight: var(--cds-productive-heading-04-font-weight, 400);
    line-height: var(--cds-productive-heading-04-line-height, 1.29);
    letter-spacing: var(--cds-productive-heading-04-letter-spacing, 0);
}

.take2--item-dialog-content-compare-substitute-name {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 1.025rem;
}