.bx--tile {
    background-color: white;
    margin: 24px;
}

.take2--checkout-dialog-content-tile-header-wrapper {
    display: inline-flex;
    padding-bottom: 8px;
}

.take2--checkout-dialog-content-tile-header {
    font-size: 1.25rem;
    padding-left: 16px;
}

.take2--checkout-dialog-content-tile-score-wrapper {
    display: flex;
}

.take2--checkout-dialog-content-tile-score {
    padding-left: 24px;
}

.take2--checkout-dialog-content-tile-img {
    max-height: 40px;
    max-width: 40px;
}

.take2--checkout-dialog-content-suggest {
    color: #0f62fe;
    button {
        color: #0f62fe !important;
    }
}

.take2--checkout-cart-stat-bar-container {
    width: 180px; /* Full width */
    // background-color: #e5e5e5; /* Grey background */
    background: linear-gradient(270deg, rgba(250,77,86,1) 0%, rgba(241,194,27,1) 50%, rgba(66,190,101,1) 100%);
    box-sizing: border-box;
}

.take2--checkout-cart-stat-bar {
    box-sizing: border-box;
    text-align: right; /* Right-align text */
    padding-top: 0px; /* Add top padding */
    padding-bottom: 0px; /* Add bottom padding */
    // background-color: #0f62fe;
    background: none;
    color: white; /* White text color */
    border-right: 7px solid #393939;
}

.take2--checkout-cart-stat-bar-col {
    background: linear-gradient(270deg, rgba(250,77,86,1) 0%, rgba(241,194,27,1) 50%, rgba(66,190,101,1) 100%);
}