.bx--tile {
    background-color: white;
    margin: 24px;
}

.take2--checkout-dialog-content-tile-header-wrapper {
    display: inline-flex;
    padding-bottom: 8px;
}

.take2--checkout-dialog-content-tile-header {
    font-size: 1.25rem;
    padding-left: 16px;
}

.take2--checkout-dialog-content-tile-score-wrapper {
    display: flex;
}

.take2--checkout-dialog-content-tile-score {
    padding-left: 24px;
}