.bx--tile {
    background-color: white;
    margin: 24px;
}

.beegreen--checkout-dialog-content-top-text {
    margin-top: 24px;
    margin-left: 24px;
}

.beegreen--checkout-dialog-content-top-text-rank {
    padding-left: 8px;
    font-weight: 600;
    margin-top: -5px;
}

.beegreen--checkout-dialog-content-gratitude {
    color: #808080;
    font-size: 26px;
    letter-spacing: 0.03rem;
}

.beegreen--checkout-dialog-content-tile-header-wrapper {
    display: inline-flex;
    padding-bottom: 8px;
}

.beegreen--checkout-dialog-content-tile-header {
    font-size: 1.25rem;
    padding-left: 16px;
}

.beegreen--checkout-dialog-content-tile-title-wrapper {
    display: flex;
}

.beegreen--checkout-dialog-content-tile-score {
    padding-left: 0px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.beegreen--checkout-dialog-content-tile-img {
    max-height: 40px;
    max-width: 40px;
}

.beegreen--checkout-dialog-content-suggest {
    color: #0f62fe;
    button {
        color: #0f62fe !important;
    }
}

.beegreen--checkout-dialog-content-text-wrapper {
    display: inline-block;
}

.beegreen--checkout-dialog-content-text-container {
    height: 40px;
    line-height: 40px;
}

.beegreen--checkout-dialog-content-text {
    word-wrap: break-word;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-left: 16px;
    text-align: left;
    display: -webkit-box;
    vertical-align: middle;
    line-height: normal;
}