.beegreen-loading-modal-content {
  display: inline-flex;
}

.beegreen-loading-modal-loader {
  overflow: hidden;
  width: 20rem;
}

.beegreen-loading-modal-loader-message {
  padding-top: 3rem;
  font-size: 18px;
  font-weight: 500;
}

.beegreen-loading-modal-fact-heading {
  color: #808080;
  font-weight: 600;
}