  .take2-side-tab {
    overflow:hidden;
    position: fixed;  
    right: -1px;
    top: 300px;
    width: 50px;
    transition: margin 700ms ease-in-out;
    transition-delay: 700ms;
    z-index: 100000;
    justify-content: flex-end;
    display: inline-flex;
    margin-right: -80px;
  }
  .take2-side-tab:hover {
      width: 80px !important;
  }
  .take2-side-tab-active {
    margin-right: 0px !important;
  }

  .take2-side-tab-open {
      width: 80px !important;
  }
  
  .take2-side-tab-icon {
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    text-align: left;
    padding-left: 8px;
    width: 50px;
    transition: all 0.5s;
    z-index: 100000;
    transition: 70ms cubic-bezier(0, 0, 0.38, 0.9);
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: #0f62fe;
    background-image: linear-gradient(#1685ff, #0f62fe);
    box-shadow: rgb(67 90 111 / 14%) 0px 0px 0px 1px inset, rgb(67 90 111 / 6%) 0px -1px 1px;
  }

  .take2-side-tab-icon:hover{
    background-image: linear-gradient(#0f62fe, #0353e9)
  }

  .take2-side-tab-default {
    border-radius: 8px 0 0 8px;
  }

  .take2-side-tab-close {
      width: 30px !important;
      margin-right: -30px;
      fill: white;
  }
  .take2-side-tab:hover .take2-side-tab-close{
    margin-right: 0px !important;
  }
  
  .take2-close-svg{
    margin-left: -3px;
  }