
.exp--action-set__action-button--ghost {
    max-width: 100% !important;
}

.exp--tearsheet__body {
    padding-right: 0px !important;
}

.exp--tearsheet__main {
    background: #f7f7f7 !important;
    border-right: 1px solid var(--cds-ui-03, #e0e0e0);
}

.exp--action-set {
    background: #f7f7f7 !important;
}

.exp--tearsheet__header {
    background: white;
}

.exp--tearsheet__influencer {
    background: white;
    max-height: 100%;
    overflow-y: scroll;
    width: 35% !important;
}

@media (min-width: 1300px){
    .exp--tearsheet__container {
        max-width: 80% !important;
    }
}

@media (min-width: 1600px){
    .exp--tearsheet__container {
        max-width: 60% !important;
    }
}

.take2--checkout-dialog-cart-item {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.take2--checkout-dialog-cart-item-text {
    max-width: 160px;
    word-wrap: break-word;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-left: 16px;
    text-align: left;
    display: -webkit-box;
    vertical-align: middle;
    line-height: normal;
}

.take2--checkout-dialog-cart-item-text-wrapper {
    display: inline-block;
}

.take2--checkout-dialog-cart-item-score {
    word-wrap: break-word;
    line-height: normal;
    vertical-align: middle;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-left: 8px;
    padding-right: 16px;
    text-align: left;
}

.take2--checkout-dialog-cart-item-text-container {
    // max-width: 160px;
    height: 40px;
    // line-height: 40px;
    text-align: center;
    line-height: 40px;
}

.take2--checkout-dialog-cart-item-img {
    max-height: 40px;
}

.take2--checkout-dialog-cart-heading {
    padding-right: 46px;
    font-size: var(--cds-productive-heading-04-font-size, 1.45rem);
    font-weight: var(--cds-productive-heading-04-font-weight, 400);
    line-height: var(--cds-productive-heading-04-line-height, 1.29);
    letter-spacing: var(--cds-productive-heading-04-letter-spacing, 0);
}

.take2--checkout-dialog-card-heading-wrapper {
    display: inline-flex;
    padding: 16px;
}