.bx--tag--green {
  color: #0e6027;
  background-color: #a7f0ba;
}

.bx--tag--teal {
  color: #005d5d;
  background-color: #d9f09e;
}

.bx--tag--purple {
  color: #a13f0c;
  background-color: #ffea5c;
}

.bx--tag--magenta {
  color: #9f1853;
  background-color: #ffc571;
}

.bx--tag--red {
  color: #a80007;
  background-color: #ffafb2;
}